// GRADIENTS
.gradient-dark {
    background: rgba(39, 39, 39, 0.8);
    background: linear-gradient(135deg, rgba(39, 39, 39, 1), rgba(39, 39, 39, 0.5));
}

.gradient-orange {
    background: rgba(253, 84, 1, 1);
    background: linear-gradient(135deg, rgba(253, 84, 1, 1), rgba(255, 84, 0, 0.8));
}

// ANIMATIONS
@keyframes progressAnimation {
    0% {
        width: 10%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

@keyframes cancelButtonAnimation {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(45deg) scale(1.5);
    }

    100% {
        transform: rotate(90deg) scale(1.7);
    }
}

@keyframes showTest {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



// NAVIGATION MENU
.nav {
    top: 0;
    left: 0;
    right: 0;

    &__contents {
        padding: 20px 0;

        &__menus {
            transition: all 0.5s;

            &__top {

                &__link {
                    font-family: $font-family-quantico;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: .02em;
                    position: relative;
                    white-space: pre-wrap;
                    padding-bottom: 5px;
                    transition: all 0.5s;
                    opacity: 0.9;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        width: 0px;
                        height: 2px;
                        background-color: $color-oranage;
                        transition: all 0.5s;
                    }

                    &:hover {
                        color: $color-oranage;

                        &:before {
                            content: '';
                            width: 50px;
                        }
                    }
                }
            }

            &__bottom {

                width: 746px;
                height: 75px;
                border-radius: 45px;

                // background: rgba(39, 39, 39, 1);
                // background: linear-gradient(135deg, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.5));
                // background: linear-gradient(to right bottom, rgba(52, 58,  64, 1), rgba(52, 58,  64, 0.5));
                background: linear-gradient(to right bottom, rgba(39, 39, 39, 0.9), rgba(52, 58, 64, 0.3));

                &__dropdown-list {
                    // display: none;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;

                    &__item {
                        img {
                            height: 22px;
                        }

                        span {
                            font-family: $font-family-quantico;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 20px;
                            letter-spacing: .02em;
                            position: relative;
                            white-space: pre-wrap;
                        }

                        &::after {
                            content: '';
                            width: 6px;
                            height: 6px;
                            border-right: 2px solid $color-light;
                            border-bottom: 2px solid $color-light;
                            transform: rotate(45deg);
                            margin-top: -4px;
                            opacity: 0.6;
                        }
                    }
                }

                &__search-bar {


                    input[type='text'] {
                        width: 0%;
                        height: 100%;
                        font-family: $font-family-quantico;
                        font-size: 15px;
                        font-weight: 500;
                        border-radius: 45px;
                        color: $color-light;
                        padding: 38px 20px;
                        display: none;
                        overflow: hidden;

                        right: 0;
                        top: 0;
                        bottom: 0;

                        &::placeholder {
                            color: $color-light;
                            opacity: 0.95;
                        }
                    }

                    p {
                        color: $color-light;
                        font-family: $font-family-quantico;
                        font-size: 13px;
                        font-weight: 500;
                        right: 20px;
                        top: 0;
                        height: 100%;
                        bottom: -53px;
                        margin: auto;
                        display: none;
                    }

                    button {
                        height: 75px;
                        bottom: 0;
                        top: 0;
                        right: 0px;
                        padding: 15px 27px;
                        border-radius: 50%;
                        background: rgba(253, 84, 1, 0.8);
                        background: linear-gradient(135deg, rgba(253, 84, 1, 0.8), rgba(255, 84, 0, 1.0));


                        img {
                            width: 20px;
                        }
                    }

                    &__search-icon {
                        display: block;
                    }

                    &__cancel-icon {
                        display: none;
                    }
                }

            }

            .search-active &__bottom {

                &__dropdown-list {
                    display: none;
                }

                &__search-bar {
                    input[type='text'] {
                        width: 100%;
                        height: 100%;
                        display: block;
                        background: rgba(253, 84, 1, 0.8);
                        background: linear-gradient(135deg, rgba(253, 84, 1, 1), rgba(255, 84, 0, 0.8));
                        animation: progressAnimation 0.5s linear;

                        &::before {
                            content: 'Advanced Search';
                            color: white;
                            display: block;
                            position: relative;
                            z-index: 5;
                        }
                    }

                    p {
                        display: block;
                        animation: showTest 0.5s linear;
                    }

                    button {
                        background-color: none;
                        right: -60px;
                        background: none;
                    }

                    &__search-icon {
                        display: none;
                    }

                    &__cancel-icon {
                        display: block;
                        transform: rotate(90deg) scale(1.7);
                        animation: cancelButtonAnimation 0.5s linear;

                    }

                }

            }

        }

        &__cart-and-avatar {

            gap: 0px;

            button {
                padding: 10px;

                img {
                    // width: 20px
                    height: 30px;
                }
            }

            &__search-icon {
                display: none;
            }


            &__profile-icon {
                background-color: rgba(39, 39, 39, 0.5);
                border-radius: 20px;


                &:hover {
                    background-color: rgba(39, 39, 39, 0.9);
                }
            }

            &__burger-menu {
                display: none;

                background-color: rgba(39, 39, 39, 0.5);
                border-radius: 10px;
                &:hover {
                    background-color: rgba(39, 39, 39, 0.9);
                }

                // img {
                //     height: 30px !important;
                // }

            }

          

        }
    }

    &__mobile-search {
        left: 0;
        right: 0;
        margin: auto;
        
        input[type='text']{
            margin-left: 15px;
            width: 85vw;
            height: 100%;
            background: rgba(253, 84, 1, 1);
            background: linear-gradient(135deg, rgba(253, 84, 1, 1), rgba(255, 84, 0, 0.8));
            height: 40px;
            border-radius: 30px;
            overflow: hidden;
            padding: 5px 15px;


            &::placeholder {
                color: $color-light;
                opacity: 0.95;
            }
        }

        button {
            transform: rotate(90deg) scale(1.7);
            animation: cancelButtonAnimation 0.5s linear;
        }
    }
}