/* ===== GLOBAL CSS =====  */
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
  font-family: $font-family-roboto;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: $color-light;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #deddda #fcfcfc;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #fcfcfc;
}

*::-webkit-scrollbar-thumb {
  background-color: #deddda;
  border-radius: 5px;
  border: 3px solid #ffffff;
}


/* ===== BACKGROUND CSS ===== */

.bg-dark {
  background-color: $color-dark;
}

.bg-ultra-dark {
  background-color: $color-ultra-dark;
}

/* ===== DISPLAY FLEX  ===== */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}



/* ===== LAYOUT CSS ===== */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  @media (min-width: $xl) {
    max-width: 1140px;
  }
}

// .section {}